COMPOSE_PROJECT_NAME=dm050
PROJECT_NAME=DM050
WEBAPP_IMAGE_NAME=brickztech/mol-dm050:latest
OPENAI_API_KEY=
LOG_DIR=/app/log/
LOGURU_DIAGNOSE=NO
LOGURU_FORMAT=<green>{time:YYYY-MM-DD HH:mm:ss.SSS}</green> | {thread} | <level>{level: <8}</level> | <cyan>{name}</cyan>:<cyan>{function}</cyan>:<cyan>{line}</cyan> - <level>{message}</level>
TZ=Europe/Budapest
